<?xml version="1.0"?>
<model>
  <name>armrobot_description</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>ghost</name>
    <email>bouhachem.ahmed@outlook.com</email>
  </author>
  <description>Arm robot resources for Ignition Gazebo.</description>
</model>
